/****VARIABLES****/
@font-face {
    font-family: AbrilFatface;
    src: url(./FONT/Abril_Fatface.zip);
   } 

//FONT
$coverSheetTitleColor:red;
$coverTitleFontSize:50px;
$coverTilteFontFamily:AbrilFatface;


//Display
