/****VARIABLES****/

/****IMPORT****/
@import 'variables/variables';
@import 'mixin/mixin';
@import 'extend/extend';
@import 'base/base';

@font-face {
    font-family: AbrilFatface;
    src: url(./FONT/Abril_Fatface.zip);
   } 

//RESET//
*{
    margin:0;
    padding:0;
    

}

/******COVERSHEET******/


.firstpage{
    @extend %coverSheetSize;
    img{
        width:40%;
        height:80%;
    }
}
//title

.coversheet__title{
    @extend %coverSheetTitle;
}

//summary
.summary{
    @extend %summary;
}
.list{
    @extend %summaryList;
    li{
        @extend %summaryList;
    }
}

/******I.PRESENTATION PROJET*******/
//title
.medium__title{
    @extend %mediumTitlte;
}
.small__title{
    @extend %smallTitle;
}
.small__title__secondary{
    @extend %smallTitleSecondary;
}
//content
.paragraphe{
    @extend %contentPart;
}

.parargraphe__style{
    @extend %textShape;

//partie 1.4
}
.article__reseau{
    @extend %socialArticle;
    img{
    width:80px;
    height:80px;
    }
}

.display__logo{
   @extend %socialTitle;
}
.link__article__reseau{
    @extend %linkArticle;
}
a{
    margin:15px;
}
/******II.Description graphique et ergonomique*******/

//palettes
.article__color{
    @extend %articleColor;

}
.color_ul{
    background-color:burlywood;
    
}
.color_list{
    list-style: none;
    width:50%;
    margin:auto;
}
.color_list1{
    color:#0388A6;
    list-style: none ;
}
.color_list2{
    color:#0396A6;
}
.color_list3{
    color:#F2E8D5;
}
.color_list4{
    color:#F2AC57;
}
.color_list5{
    color:#BF4A30;
}
.color_list6{
    color:#62B7D9;
}
.color_list7{
    color:#F2B279;
}
.color_list8{
    color:#F26241;
}
.color_list9{
    color:#260101;
}
.color_list10{
    color:#A62E2E;
}
.color_list11{
    color:#024873;
}
.color_list12{
    color:#F29F05;
}
.color_list13{
    color:#D97904;
}
.color_list14{
    color:#D9D055;
}
.color_list15{
    color:#D9C359;
}
